@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Open+Sans:wdth,wght@75,600;100,400&display=swap');

/* font-family: 'Kirang Haerang', cursive;
font-family: 'Open Sans', sans-serif; */

body {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400 !important;
  font-stretch: normal;
}


/* .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
} */

.tiltRmax {
  transform:rotate(1.2deg);
}

.tiltLmax {
  transform:rotate(-1.2deg);
}

.phot {
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
}

#headbanner {
  background-image: url("../images/qnqstripessm.png");
  background-size: auto 66%;
  background-repeat: repeat-x;
  padding: 0em;
  right:20em;
  min-height:80px;
}

#donationbox{
  height:66%;
  margin-bottom:0;
}

#navbar {
  background-image: url("../images/qnqstripessmvert.png");
  background-size: 40% auto;
  background-repeat: repeat-y;
  padding: 0em;
  margin-right: 0em;
}

#logo{
  background-image: url("../images/qnqstripessmvert.png");
  background-size: 45.666666% auto;
  background-repeat: repeat-y;
}



#lillogo{
  background:none;
  min-width:120px;
}

#tagline {
  padding-left:0.25rem;
  padding-right:0.25rem;
  position: absolute;
  margin-top:1.5%;
  transform: rotate(0.8deg);
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
  font-size: 1.5vw;
  font-weight:600;
  font-stretch: extra-condensed;
}

h1 {
  font-family: 'Kirang Haerang', cursive;
  font-size: 54pt;
  line-height: 6.5vh;
}

h2{
  font-family: 'Kirang Haerang', cursive;
  font-size: 36pt;
  line-height: 3vh;
  margin-top: 2rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-stretch: extra-condensed;
  color:white;
}

.card{
  font-size:10pt;
  margin-bottom:2rem;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-stretch: extra-condensed;
  font-size: 24pt;
}

.card-header{
  padding:0.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-stretch: extra-condensed;
  color:white;
  background-color:#253B80;
  font-size: 14pt;
}

.card,.card-header{
  border-radius:0px !important;
}

.funkybtn{
  background-color: none!important;
  background-image:url("../icons/funkybuttonback.png");
  background-size:cover;
  padding-top:0.5rem;
}


#NAVbtn{
  border:none !important;
  height:0rem;
}

#navtab{
  width:3rem;
}

.album {
  margin-bottom:2rem;
  max-width:300px;
  padding-left:1rem;
  padding-right:1rem;
}

.album img{
  width:300px;
  padding-bottom: 0.5rem;
}

.DLicon {
  width:32px !important;
  position:absolute;
  transform: translateX(-100%);
}

hr {
  border-top: 2px solid red;
  border-bottom: 1px solid blue;
  transform:skewY(0.4deg);
  margin-bottom: 1rem;
}

table.bandinfo{
  padding:none !important;
  width:100%;
  border-collapse: separate;
  border-spacing: 0rem 0.5rem;
  table-layout: fixed
}

table.bandinfo *{
  border-bottom:none;
  padding-left: 0.5rem;

}

.bandinfo tr{
  background-color:#ededed;
  width:100%;
}

.active{
  background-color: #D64F4F !important;
}

#story1{
  background-image:url("../images/MUR.jpg");
  background-size:cover;
  background-position: bottom;
}

#story2{
  background-image:url("../images/WVTS.jpg");
  background-size:cover;
  background-position: top;
}

td.infohead{
  background-color: #253B80;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-stretch: extra-condensed;
  color:white;
  font-size:12pt;
  margin-bottom: 100px !important;
}

.touryes{
  background-color: #555FE1 !important;
}

footer{
  font-size:8pt;
  color:grey;
}

.tourdates h5{
  font-size: 36pt;
}


/* all the small things */
@media only screen and (max-width: 992px) {
  #navbar{
    position:absolute;
    margin-top:4rem;
    width:350px;
    background-image:none;
    z-index: 20;
  }
}
